<h1 mat-dialog-title>Apply!</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input matInput [(ngModel)]="data.firstName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last name</mat-label>
    <input matInput [(ngModel)]="data.lastName">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Phone</mat-label>
    <input matInput [(ngModel)]="data.phone">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Message</mat-label>
    <input matInput [(ngModel)]="data.message">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Apply</button>
</div>
