<h1 id="tableLabel">Jobs</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!jobs"><em>Loading...</em></p>

<div *ngIf="jobs">
  <mat-card *ngFor="let job of jobs" class="job-card">
    <mat-card-header>
      <mat-card-title>{{ job.title }}</mat-card-title>
      <mat-card-subtitle>{{ job.workplace }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ job.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="openApplicationDialog(job.id)">APPLY</button>
    </mat-card-actions>
  </mat-card>
</div>
