<header>
<mat-toolbar class="toolbar bg-yellow">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Ceva companie random</span>
  <span class="nav-spacer"></span>
  <button *ngIf="authStatus" mat-icon-button class="color-white" aria-label="Notifications">
    <mat-icon matBadge="{{ newNotificationsCount }}" matBadgeColor="warn" matBadgePosition="before" [matBadgeHidden]="newNotificationsCount == 0" aria-hidden="true" aria-label="Notifications icon" (click)="openNotificationsBottomSheet()">notifications</mat-icon>
  </button>
</mat-toolbar>
</header>
